<html xmlns:th="http://www.thymeleaf.org">

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">节点名称</th>
            <th scope="col">CPU</th>
            <th scope="col">内存</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="node:${nodeMetrics}">
            <td th:text="${node.name}"/>
            <td th:text="${node.cpu}"/>
            <td th:text="${node.memory}"/>
        </tr>
        </tbody>
    </table>

    <div class="pb-1">
        <button type="button" class="btn btn-primary" data-target="#createDeploymentModal" data-toggle="modal">创建
            Deployment
        </button>
        <button type="button" class="btn btn-primary">伸缩</button>
        <button type="button" class="btn btn-primary" id="deleteDeployment">删除</button>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">容器名称</th>
            <th scope="col">就绪</th>
            <th scope="col">所在节点</th>
            <th scope="col">阶段</th>
            <th scope="col">容器状态</th>
            <th scope="col">重启次数</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pod:${podMetrics}">
            <td th:text="${pod.name}"/>
            <td th:text="${pod.ready}"/>
            <td th:text="${pod.address}"/>
            <td th:text="${pod.phase}"/>
            <td th:text="${pod.started}"/>
            <td th:text="${pod.restartCount}"/>
        </tr>
        </tbody>
    </table>
</div>

<div class="card">
    <h6 class="font-weight-bold" style="padding: .75rem">相关资料</h6>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="padding: .75rem">
            <a href="https://raw.githubusercontent.com/kubernetes-client/java/master/kubernetes/docs/CoreV1Api.md"
               class="text-reset" target="_blank">
                https://raw.githubusercontent.com/kubernetes-client/java/master/kubernetes/docs/CoreV1Api.md
            </a>
        </li>
        <li class="list-group-item" style="padding: .75rem">
            <a href="https://github.com/kubernetes-client/java/"
               class="text-reset" target="_blank">
                https://github.com/kubernetes-client/java/
            </a>
        </li>
    </ul>
</div>

<div class="modal fade" id="createDeploymentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">基本信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="service-type" class="col-form-label">服务类型</label>
                        <input type="text" class="form-control" id="service-type">
                    </div>
                    <div class="form-group">
                        <label for="service-name" class="col-form-label">服务名称</label>
                        <input type="text" class="form-control" id="service-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        // 创建
        $('#createDeploymentModal').on('show.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-body input:eq(0)').val("Deployment")
        })

        // 保存
        $(".modal-footer button:eq(1)").on("click", function (event) {
            $.ajax({
                url: "/deployment", type: "POST", success: function (result) {
                    CommonUtils.alert("创建成功", "success");
                }
            })
        })

        // 删除
        $("#deleteDeployment").click(function () {
            $.ajax({
                url: "/deployment/delete", type: "POST", success: function (result) {
                    CommonUtils.alert("删除成功", "success");
                }
            })
        })
    })
</script>
</html>